# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Project specific
.ensime_cache/
output/
output-*
outputSF/
outputCache/kanjiCache
outputCache/vocabCache
output-kanji-individual/
output-kanji-default/
output-kanji-single/
output-kanji-with-vocab-default/
output-kanji-with-vocab-individual/
output-kanji-with-vocab-single/
output-vocab-default/
output-vocab-single/
output-vocab-with-kanji-default/
output-vocab-with-kanji-single/
output-top-vocab-default/
